<header class="site-header">
	<a href="https://github.com/rsnapshot/rsnapshot"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
	<div class="branding">
		{% if site.theme.gravatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="https://secure.gravatar.com/avatar/{{ site.theme.gravatar }}?s=100" alt=""/>
		</a>
		{% elsif site.theme.avatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="/img/{{ site.theme.avatar }}" alt=""/>
		</a>
		{% endif %}
		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme.title }}</a>
		</h1>
	</div>
	<nav class="site-nav">
		<ul>
			{% for page in site.pages %}
			{% if page.title and page.hide != true %}
			<li>
				<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
					{{ page.title }}
				</a>
			</li>
			{% endif %}
			{% endfor %}
			<!-- Social icons from Font Awesome, if enabled -->
			{% include icons.html %}
		</ul>
	</nav>
</header>
